:root{
    --bg-color: #1d2223;
    --blue: #2b31e2;
    --white: #fff;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,
body {
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: var(--bg-color);
    font-family: cursive;
}

.btn {
    text-decoration: none;
    width: 600px;
    height: 180px;
    border-radius: 10px;
    position: relative;
    display: inline-block;
    overflow: hidden;
    font-size: 60px;
    font-weight: 600;
}
.btn-blue {
    color: var(--white);
    background-color: var(--blue);
}

.btn div {
    height: 100%;
    display: grid;
    place-items: center;
    transition: transform .3s cubic-bezier(0.0755, 0.05, 0.855, 0.06);
    pointer-events: none;
}

.btn:hover div{
    transform: translateY(-100%);
}

.btn span {
    width: 50px;
    height: 50px;
    position: absolute;
    border-radius: 50%;
    background-color: var(--white);
    transform: translate(-50%, -50%);
    pointer-events: none;
    animation: zoom 1s infinite;
}

@keyframes zoom {
    0% {
        width: 0px;
        height: 0px;
        opacity: 0.3;
    }

    100% {
        width: 1500px;
        height: 1500px;
        opacity: 0;
    }
}